<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categoryArray</key>
	<array>
		<string>(All Types)</string>
		<string>Vodka</string>
		<string>Tequila</string>
		<string>Specialty</string>
		<string>Bourbon</string>
		<string>Scotch</string>
		<string>Whiskey</string>
		<string>Rum</string>
		<string>Rock-Rye</string>
		<string>Gin</string>
		<string>Eggnog</string>
		<string>Cognac</string>
		<string>Cocktails</string>
		<string>Brandy</string>
		<string>Moonshine</string>
		<string>Vermouth</string>
	</array>
	<key>sizeDict</key>
	<dict>
		<key>(All Sizes)</key>
		<string>9999</string>
		<key>2L</key>
		<string>2000</string>
		<key>Handle</key>
		<string>1750</string>
		<key>1L</key>
		<string>1000</string>
		<key>Fifth</key>
		<string>750</string>
		<key>375mL</key>
		<string>375</string>
		<key>50mL</key>
		<string>50</string>
	</dict>
	<key>sortByDict</key>
	<dict>
		<key>Review</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>id</key>
			<string>review_score</string>
		</dict>
		<key>Value</key>
		<dict>
			<key>index</key>
			<integer>0</integer>
			<key>id</key>
			<string>value_score</string>
		</dict>
		<key>Price</key>
		<dict>
			<key>index</key>
			<integer>2</integer>
			<key>id</key>
			<string>price</string>
		</dict>
		<key>Size</key>
		<dict>
			<key>index</key>
			<integer>3</integer>
			<key>id</key>
			<string>num_ml</string>
		</dict>
		<key>ABV</key>
		<dict>
			<key>index</key>
			<integer>5</integer>
			<key>id</key>
			<string>abv_pct</string>
		</dict>
		<key>Category</key>
		<dict>
			<key>index</key>
			<integer>4</integer>
			<key>id</key>
			<string>category</string>
		</dict>
		<key>Name</key>
		<dict>
			<key>index</key>
			<integer>6</integer>
			<key>id</key>
			<string>name</string>
		</dict>
		<key>Age</key>
		<dict>
			<key>index</key>
			<integer>7</integer>
			<key>id</key>
			<string>age</string>
		</dict>
	</dict>
</dict>
</plist>
